.parent {
  display: flex;
}

.men{
  background: url('../../assets/home/men.jpg') center center no-repeat;
  background-size: cover;
}
.women{
  background: url('../../assets/home/women.jpg') center center no-repeat;
  background-size: cover;
}
.kids{
  background: url('../../assets/home/kids.jpg') center center no-repeat;
  background-size: cover;
}
