<div class="outerDiv container-fluid d-flex w-100 " >
  <div class="innerDiv">

  </div>
  <div >
    <P class="lookbook">lookbook</P>
  </div>

</div>
<div class="container">
  <div class="Div1"> <img src="/assets/womenDress/dress13.jpg"> </div>
  <div class="Div2"><img src="/assets/womenDress/dress8.jpg"> </div>
  <div class="Div3" >
    <h1>IT'S JUST CASUAL</h1>
    <p>Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo</p>
    <a>SHOP NOW</a>
  </div>
  <div class="Div4"><img src="/assets/womenDress/dress14.jpg"> </div>
  <div class="Div5"><img src="/assets/womenDress/dress2.jpg"> </div>
  <div class="Div6"><img src="/assets/womenDress/dress12.jpg"> </div>
  <div class="Div7"><img src="/assets/womenDress/dress6.jpg"> </div>
  <div class="Div8"><img src="/assets/womenDress/dress17.jpg"> </div>
  <div class="Div9"><img src="/assets/womenDress/dress15.jpg"> </div>
  <div class="Div10"><img src="/assets/womenDress/dress16.jpg"> </div>
  <div class="Div11"><img src="/assets/womenDress/dress3.jpg"> </div>

</div>

