<div style="background-image: url('/assets/womenDress/palm.jpg'); height: 300px">
 <P class="Store">STORE</P>
  <div class="d-flex w-50 mt-5" style="justify-content: space-evenly">
    <div>
      <p>Casual & Urban Wear</p>
      <p>Jumpers & Cardigans</p>
    </div>
    <div>
      <p>Down Coats & Vests</p>
      <p>Shorts</p>
    </div>
    <div>
      <p>Jackets</p>
      <p>Sweatshirts & Hoodies</p>
    </div>
    <div>
      <p>Jeans</p>
      <p>T-Shirts & Tops</p>
    </div>
  </div>
</div>
<app-product-cards></app-product-cards>

