<div class="outerDiv container-fluid" >
  <div >
    <P class="Arrival">New Arrivals</P>
  </div>
  <div style="padding-top:60px ">
   <div style="width: 451px; padding-right: 50px">
     <p style="text-align:right ">Subscribe to our newsletter, get 10% off on your first purchase
       and never miss our newest arrivals.</p>
     <form class="input-form mt-5">
       <div class="inputfield">
         <p>
           <input type="email" style="border: none; outline: none" placeholder="email address">
         </p>
         <p>
           <button type="submit"  style="border: none; background: none; font-weight: bold" >JOIN NOW</button>
         </p>
       </div>
     </form>
   </div>
  </div>

</div>
<app-product-cards></app-product-cards>
