<div class="box">
  <div class="homeRightSideCss "  >
    <div class="Text">
      <p class="fs-1 fw-bold">Kid's</p>
      <a class="fs-6 fw-medium" style="color:dimgray; font-weight: bold; " >BROWSE ALL</a>
    </div>
    <div class="text" ><ul>
      <li>Shirts</li>
      <li>Fashion Hoodies & Sweatshirts</li>
      <li> Jackets & Coats</li>
      <li>Jeans</li>
      <li>Pants</li>
      <li>Suits & Sport Coats</li>
      <li>Active</li>
    </ul>
      <div class="text_second">
        <p class="fs-1 fw-bold pb-2">Kid's</p>
        <a class="fs-6 fw-medium " style="color:white; font-weight: bold; " >BROWSE ALL</a>
      </div>
    </div>
  </div>

</div>
